<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <h1>PROJECTS</h1>
    <div>
        <ul class="projects">
            <% for(let i=0; i < projects.length; i++) {%>
                <li class="project">
                    <span><%= projects[i].clientOne %></span>
                    <span><%= projects[i].clientOneMail %></span>
                    <span><%= projects[i].clientTwo %></span>
                    <span><%= projects[i].clientTwoMail %></span>
                    <span><%= projects[i].eventDate %></span>
                    <span><%= projects[i].eventLocation %></span>
                    <span><%= projects[i].dateAdded %></span>
                    <!-- <span class='fa fa-thumbs-up'></span>
                    <span class='fa fa-trash'></span> -->
                </li>
            <% } %>
            </ul>
    </div>
</body>
</html>